@font-face {
    font-family: 'Sosa';
    src: url('fonts/sosa/sosa-regular-webfont.ttf') format('ttf'), /* Safari, Android, iOS */
    url('fonts/sosa/sosa-regular-webfont.eot') format('eot'), /* IE9 Compat Modes */
    url('fonts/sosa/sosa-regular-webfont.svg') format('svg'), /* Legacy iOS */
    url('fonts/sosa/sosa-regular-webfont.woff') format('woff'); /* Pretty Modern Browsers */
    /* Credits / source : TenByTwenty, http://tenbytwenty.com/?xxxx_posts=sosa */
}

* {
    font-family: Silom;
}

html{
    background-color: rgb(30,30,30);
}

body {
    height: 100%;
    width: 100%;
}

#background-canvas {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.central-container{
    padding: 3px;
    background-color:rgb(193,193,193);
    grid-column: 2; 
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 3px;
}

.container1, .container2 {
    padding: 3px;   
    display: grid;
    grid-template-columns: 60px repeat(5, auto);
    justify-items: center;
    align-items: center;
    background-color: grey;
}

.activeContainer {
    background-color: rgb(42,42,46);
    color: rgb(206, 140, 85);
}   

button {
    background-color: rgb(193,193,193);
    margin: 3px;
}

button:hover{
    background-color: rgb(155, 153, 153);
}

button.startBtn, .stopBtn, .minusBtn, .plusBtn {
    font-family: Sosa, Silom;
}

.invisible {
    visibility: hidden;
}

