body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.central-container{
    padding: 5px;
    background-color: yellow;
    grid-column: 2; 
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.container1 {
    padding: 5px;
    background-color: green;
    display: grid;
    grid-template-columns: 40px repeat(5, auto);
    justify-items: center;
    align-items: center;
}
.container2 {
    padding: 5px;
    background-color: brown;
    display: grid;
    grid-template-columns: 40px repeat(5, auto);
    justify-items: center;
    align-items: center;
}

button {
}

.invisible {
    visibility: hidden;
}